<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Log format: UTC timestamp + level + logger + MDC fields + message -->
    <property name="CONSOLE_PATTERN"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', UTC} %-5level %logger{36} - [req=%X{requestId}] [user=%X{user}] [path=%X{path}] %msg%n%ex"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
